.badge {
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: 600;
}

.badge-model {
  background-color: rgba(139, 92, 246, 0.2);
  color: var(--vit-color);
}

.badge-attack {
  background-color: rgba(99, 102, 241, 0.2);
  color: var(--primary-color);
}

.badge-success {
  background-color: rgba(16, 185, 129, 0.2);
  color: var(--success-color);
}

.badge-error {
  background-color: rgba(239, 68, 68, 0.2);
  color: var(--error-color);
}
